.background {
  background: linear-gradient(180deg, rgba(102, 204, 255, 0.2) 0%, #fff 71.2%);
}

.container {
  width: 600px;
  margin: 0 auto;
  padding-top: 200px;
}

.content {
  min-height: 90vh;
}

.hidden {
  display: none;
}

.blockquote {
  margin-top: 2em;
  margin-left: 0;
  margin-right: 0;
  background: #eee;
  color: #666;
  font-size: 14px;
  padding: 1em;
  border-left: 20px solid #ccc;
  font-style: italic;
}

.blockquote a {
  color: #666;
  text-decoration: none;
}

.blockquote a:hover {
  color: #333;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding-top: 0;
  }

  .banner {
    width: 100%;
    height: auto;
  }

  .blockquote {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
}
